**/.vscode/**
**/doc/html/**
**/doc/latex/**
**/__pycache__/**
**/.DS_Store/**
src/dataset/ssd
src/dataset/corsi
src/lp/*

# Latex
**/*.synctex.gz
**/*.log
**/*.dvi
**/*.bbl
**/main.pdf
**/*.blg
**/*.aux
**/*.log
**/*.out
**/*.bcf
**/*.run.xml
**/comment.cut
**/main.out
**/*.fdb_latexmk
**/*.fls